// ======================================
//  Variables
// ======================================

// Fonts
$font-primary: 'Lato', sans-serif;

// Colors 
$white: #fff;

$color-text: #777;
$color-primary: #58e1c1;
$color-secondary: #777;

$color-btn-default: #51ddfc;
$color-btn-error: #e4757a;
$color-btn-info: #927bc1;
$color-btn-success: #63cc82;
$color-btn-warning: #fd7856;


// breakpoints

$breakpoints: (
    'med': 768px,
);


// Layout

$max-width: 1400px;