// ======================================
//  Variables
// ======================================

// Fonts
$font-primary: 'Lato', sans-serif;

// Colors 
$white: #fff;

$color-text: #777;
$color-primary: #58e1c1;
$color-secondary: #777;


// breakpoints

$breakpoints: (
    'med': 768px,
);


// Layout

$max-width: 1400px;