/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    @include media ('med') {
        padding: 10px 30px;
        &+ .btn {
            margin-left: 10px;
        }
    }
}
  
.default {
    background-color: $color-btn-default;
}
  
.error {
    background-color: $color-btn-error;
}
  
.info {
    background-color: $color-btn-info;
}
  
.success {
    background-color: $color-btn-success;
}
  
.warning {
    background-color: $color-btn-warning;
}