/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 10px;
}

.centered {
    @include media('med') {
        max-width: $max-width;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
    @include media('med') {
        flex-direction: row;
    }
}
  
[class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    @include media('med') {
        display: flex;
        justify-content: center;
        margin-top: 0;
        align-items: center;
        &+ [class^=col] {
            margin-left: 10px;
        }
    }
}
  

.col-1 {
    @include theme($color-col-1);
    @include media('med') {
        flex-basis: 8.33%;
    }
}
  
.col-2 {
    @include theme($color-col-2);
    @include media('med') {
        flex-basis: 16.67%;
    }
}
  
.col-3 {
    @include theme($color-col-3);
    @include media('med') {
        flex-basis: 25.00%;
    }
}
  
.col-4 {
    @include theme($color-col-4);
    @include media('med') {
        flex-basis: 33.33%;
    }
}
  
.col-5 {
    @include theme($color-col-5);
    @include media('med') {
        flex-basis: 41.67%;
    }
}
  
.col-6 {
    @include theme($color-col-6);
    @include media('med') {
        flex-basis: 50.00%;
    }
}
  
.col-7 {
    @include theme($color-col-7);
    @include media('med') {
        flex-basis: 58.33%;
    }
}
  
.col-8 {
    @include theme($color-col-8);
    @include media('med') {
        flex-basis: 66.67%;
    }
}
  
.col-9 {
    @include theme($color-col-9);
    @include media('med') {
        flex-basis: 75.00%;
    }
}
  
.col-10 {
    @include theme($color-col-10);
    @include media('med') {
        flex-basis: 83.33%;
    }
}
  
.col-11 {
    @include theme($color-col-11);
    @include media('med') {
        flex-basis: 91.67%;
    }
}
  
.col-12 {
    @include theme($color-col-12);
    @include media('med') {
        flex-basis: 100%;
    }
}
  
.card {
    flex-basis: 100%;
}

