
/* ============================================= */
/*              Typography                       */
/* ============================================= */

.headline-primary {
    color: $color-primary;
    margin-left: 10px;
}
  
.headline-secondary {
    font-weight: 300;
    color: $color-secondary;
}
  
.link {
    color: $color-primary;
    font-weight: 700;
}
  
.blockquote {
    @include quote;
}
